<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
		<section class="center">
			<%= link_to "Register Schedule", register_path, class: "btn btn-lg btn-primary" %>
		</section>
		<section>
			<h1>
				Groups
			</h1>
			<ul>
			<% @group_ids.each do |group_id| %>
				<% group = Group.find(group_id.group_id) %>
				<li><%= link_to "#{group.name}", group %></li>
			<%end %>
			</ul>
		</section>
  </aside>
  <div class="col-md-8">
    <h1>Schedule</h1>
		<%if current_user == @user%>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>月</th>
					<th>火</th>
					<th>水</th>
					<th>木</th>
					<th>金</th>
					<th>土</th>
					<th>日</th>
				</tr>
			</thead>
			<tbody>
				<% for time in 1..5 do %>
					<%= render 'layouts/row2', time: time%>
				<% end %>
			</tbody>
		</table>
		<%else%>
			<div class="center">
			<h2>Private!</h2>
			</div>
		<%end%>
  </div>
</div>
